/*General===========================*/

body {
	font-family: "Verdana", serif;
	padding-left: 10px;

}

/*Top Navigation=====================*/

.top-nav {
	background-color: #FFB4B0;
	border: 1px solid black;
	margin: 10px;
}

ul li {
	list-style-type: none;
	display: inline;
	margin: 5px 15px 0 15px;
	/*background-color: goldenrod;*/
	padding: 5px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {

}

a:active {
	color: orange;
}


/*Side Navigation====================*/
h2 {
	margin-bottom: 0px;
}
.side-nav {
	background-color: #4DD7FA;
	border: 1px solid black;
	margin: 10px;	
	padding: 5px;
	height: 100;
	width: 23%;
	float: left;	
}

.genre input{
	display: inline-block;
}

/*Main================================*/

.main {
	background-color: #FEFAC0;
	color: #785616;
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	height: 100%;
	width: 70%;
	float: right;
}

div.dom {
	margin: 5px 0;
	padding: 5px 0;
}
.songWrap {
	display: inline;
	/*clear: left;*/
}
.delete {
	/*float: right;*/
	display: inline;
	clear: right;
}

/*Add View Music==========================*/
.add {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.add label {
	float: right;
	margin-bottom: 5px;
	margin-right: 40%;
}
#button {
	float: right;
	margin-right: 44%;
}
#add-view h2 {
	text-align: center;
	color: teal;
}
